<input #inputUserName="ngModel" type="text" class="w-100 slab-form__input slab-form__input--topradius"
       [class.slab-form_input--error]="inputUserName.invalid && inputUserName.touched"
       id="inputUserName" [(ngModel)]="userName" placeholder="{{ 'COMMON_USERNAME' | translate | async }}"
       name="inputUserName" (keyup.enter)="doSignUp()" required autocomplete="off" maxlength="20" minlength="6">

<input #inputPassword="ngModel" type="password" [class.slab-form_input--error]="!isPasswordOK() && inputPassword.touched" placeholder="{{ 'COMMON_PASSWORD' | translate | async }}"
       autocomplete="off" class="w-100 slab-form__input slab-form__input--bottomradius" id="inputPassword"
       name="inputPassword" (keyup.enter)="doSignUp()" [(ngModel)]="password"
       required minlength="{{getMinPasswordLength()}}"/>


<div class="d-none d-sm-block slab-form_input--marginTop15 text-right">
    <i class="icon-info-circle mt-1 slab-info-icon" title="{{ getPasswordComplexityTooltip() }}"></i>
</div>

<div class="slab-password-strength mt-1 d-inline-block"
     [ngClass]="getPasswordComplexityStyle()">
    <div class="d-inline-block slab-first-step"></div>
    <div class="d-inline-block slab-second-step"></div>
    <div class="d-inline-block slab-third-step"></div>
    <div class="d-inline-block slab-fourth-step"></div>
    <div class="d-inline-block slab-fifth-step"></div>
</div>
<div class="slab-password-strength-label">
    <div>{{getPasswordComplexityAsLabel()}}&nbsp;</div>
</div>

<input #inputEmail="ngModel" type="email" [class.slab-form_input--error]="inputEmail.invalid && inputEmail.touched" autocomplete="off"
       placeholder=" {{ 'COMMON_EMAIL' | translate | async }}" class="w-100 slab-form_input--marginTop15 slab-form__input slab-form__input--topradius"
       (keyup.enter)="doSignUp()" id="inputEmail"  name="inputEmail" [(ngModel)]="email" required email/>

<input #inputName="ngModel" type="text" [class.slab-form_input--error]="inputName.invalid && inputName.touched" placeholder=" {{ 'COMMON_NAME' | translate | async }}"
       class="w-100  slab-form__input " (keyup.enter)="doSignUp()" id="inputName" name="inputName"  [(ngModel)]="name"
       required maxlength="50" minlength="2"/>

<input #inputLastName="ngModel" type="text" [class.slab-form_input--error]="inputLastName.invalid && inputLastName.touched" placeholder=" {{ 'COMMON_LASTNAME' | translate | async }}"
       class="w-100  slab-form__input " (keyup.enter)="doSignUp()" id="inputLastName" name="inputLastName" [(ngModel)]="lastName"
       required maxlength="80" minlength="2"/>

<button type="button" class="w-100 btn btn-primary slab-form__submit mt-4" (click)="doSignUp()"
        [disabled]="inputUserName.invalid || inputEmail.invalid || inputPassword.invalid || inputName.invalid ||  inputLastName.invalid || !isPasswordOK()">{{ 'COMMON_SEND' | translate | async }}
</button>


<div class="slab-form_input--marginTop25 text-center" *ngIf="isLoginActive">
    <a href="#" class="slab-text slab-text--link" (click)="goLogin()">{{ 'COMMON_I_HAVE_ACCOUNT' | translate | async }}</a>
</div>

<div *ngIf="errorUserExist" class="alert alert-danger text-center slab-form_input--marginTop25">
    <a>{{ 'ERROR_USER_ALREADY_EXIST' | translate | async }}</a>
</div>

<div *ngIf="isLoading" class="text-center pt-2">{{ 'COMMON_LOADING' | translate | async }}...<i class="icon-spinner spin"></i>
</div>

