<systelab-login (login)="doLogin($event)" (signUp)="doSignUp($event)" (recovery)="doRecovery($event)"  
                [(userName)]="userName"
                [(password)]="password"
                [(name)]="name"
                [(lastName)]="lastName"
                [(email)]="email"
                [activeRecovery]="1"
                [activeSignUp]="1"
                [activeLogin]="1"
                [typeForm]="typeForm"
                [companyLogo]="'assets/img/brand/werfen.png'"
                [applicationLogo]="'assets/img/brand/logo.png'"
                [background]="'assets/img/background/background.jpg'"
                [copyright]="'Copyright 2000-2018 Werfen'"
                [errorUserPwd]="errorUserPwd"
                [errorUserDoesNotExist]="errorUserDoesNotExist"
                [errorUserExist]="errorUserExist"
                [pathTerms]="pathTerms"
                [pathPrivacy]="pathPrivacy"
                [txtUsername]="txtUsername"
                [txtRecoverProcessStarted]="txtRecoverProcessStarted"
                [applicationName]="'App Name'" [moduleName]="'Module'" [version]="'1.4. (build 2012)'"></systelab-login>