<systelab-login (login)="doLogin()" (signUp)="doSignUp()" (recovery)="doRecovery()"
                [(userName)]="userName"
                [(password)]="password"
                [(name)]="name"
                [(lastName)]="lastName"
                [(email)]="email"
                [isRecoveryActive]="isRecoveryActive"
                [isSignUpActive]="isSignUpActive"
                [isLoginActive]="isLoginActive"
                [minPasswordStrengthValue]="2"
                [currentForm]="currentForm"
                [companyLogo]="'assets/img/brand/werfen.png'"
                [applicationLogo]="'assets/img/brand/logo.png'"
                [background]="'assets/img/background/background.jpg'"
                [copyright]="'Copyright 2000-2018 Werfen'"
                [errorUserPwd]="errorUserPwd"
                [errorUserDoesNotExist]="errorUserDoesNotExist"
                [errorUserExist]="errorUserExist"
                [pathTerms]="pathTerms"
                [pathPrivacy]="pathPrivacy"
                [txtUsername]="txtUsername"
                [txtRecoverProcessStarted]="txtRecoverProcessStarted"
                [applicationName]="'App Name'" [moduleName]="'Module'" [version]="'1.4. (build 2012)'"
                [isLoading]="isLoading"
                [noticeText]="'Notice Text'"></systelab-login>