// @import "~systelab-components/sass/styleColor";

.slab-change-password {

  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .slab-not-equal-pwd {
    // color: $error-message-text;
    color: rgb(255, 51, 45);
    font-size: 12px;
  }

  .slab-password-strength {
    height: 5px;
    width: 100%;
    div {
      height: 5px;
      width: 19%;
      background-color: rgb(221, 221, 221);
    }
    &.slab-weak {
      .slab-first-step {
        background-color: rgb(215, 56, 45);
      }
    }

    &.slab-moderate {
      .slab-first-step,
      .slab-second-step {
        background-color: rgb(249, 136, 0);
      }
    }

    &.slab-good {
      .slab-first-step,
      .slab-second-step,
      .slab-third-step {
        background-color: rgb(174, 222, 51);
      }
    }

    &.slab-strong {
      .slab-first-step,
      .slab-second-step,
      .slab-third-step,
      .slab-fourth-step {
        background-color: rgb(40, 189, 35);
      }
    }

    &.slab-very-strong {
      .slab-first-step,
      .slab-second-step,
      .slab-third-step,
      .slab-fourth-step,
      .slab-fifth-step {
        background-color: rgb(47, 148, 60);
      }
    }
  }

  .slab-password-strength-label {
    div {
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
  }

  .slab-info-icon {
    font-size: 20px;
    color: rgb(21, 143, 239);
  }
}