.password-strength {
  height: 5px;
  width: 100%;
  div {
    height: 5px;
    width: 19%;
    background-color: rgb(221, 221, 221);
  }
  &.weak {
    .first-step {
      background-color: rgb(215, 56, 45);
    }
  }

  &.moderate {
    .first-step,
    .second-step {
      background-color: rgb(249, 136, 0);
    }
  }

  &.good {
    .first-step,
    .second-step,
    .third-step {
      background-color: rgb(174, 222, 51);
    }
  }

  &.strong {
    .first-step,
    .second-step,
    .third-step,
    .fourth-step {
      background-color: rgb(40, 189, 35);
    }
  }

  &.very-strong {
    .first-step,
    .second-step,
    .third-step,
    .fourth-step,
    .fifth-step {
      background-color: rgb(47, 148, 60);
    }
  }
}

.password-strength-label {
  div {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.info-icon {
  font-size: 20px;
  color: rgb(21, 143, 239);
}

.tooltip-class {
  background-color: red;
}