<div class="ngdialog-header">{{ 'COMMON_CHANGE_PASSWORD' | translate | async }}</div>

<div class="change-password ngdialog-message uk-panel-space with-buttons">
    <div>
        <form class="uk-form uk-form-horizontal uk-margin-top"
              (keypress)="($event.which === 13 && isOK()) ? changePassword() : 0">
            <div class="uk-form-row uk-margin-small-top">
                <div class="uk-grid">
                    <label class="uk-width-3-5" for="form-h-it">{{ 'LOGIN_ENTER_OLDPASSWORD' | translate |
                        async}}</label>
                    <input autofocus class="uk-width-2-5" [(ngModel)]="oldPassword" name="username"
                           type="password" id="form-h-it">
                </div>
            </div>
            <div class="uk-form-row uk-margin-small-top">
                <div class="uk-grid">
                    <label class="uk-width-3-5" for="form-h-ip">{{ 'LOGIN_ENTER_NEWPASSWORD' | translate |
                        async}}</label>
                    <input class="uk-width-2-5" [(ngModel)]="newPassword" name="pwd" type="password"
                           (keyup)="checkPasswordStrength($event)"  id="form-h-ip">
                </div>
            </div>
            <div class="uk-form-row uk-margin-small-top">
                <div class="uk-grid">
                    <label class="uk-width-3-5" for="form-h-ir">{{ 'LOGIN_REPEAT_NEWPASSWORD' | translate |
                        async}}</label>
                    <input class="uk-width-2-5" [(ngModel)]="repeatedPassword" name="pwd"
                           type="password" id="form-h-ir">
                </div>
            </div>
            <div class="uk-form-row uk-text-center" *ngIf="isLoading">
                <span class="loading-message">
                    {{ 'COMMON_LOADING' | translate }}...
                    <i class="icon-spinner uk-icon-spin"></i>
                </span>
            </div>
        </form>
        <!--<i class="icon-info-circle uk-margin-small-top info-icon uk-float-right" data-uk-tooltip="{pos:'bottom', offset: 1}" title="{{$ctrl.securityMessage}}"></i>-->
        <div class="uk-position-relative uk-float-right" data-uk-dropdown="{pos:'left-center'}">
            <i class="icon-info-circle uk-margin-small-top info-icon"></i>
            <div class="legend uk-dropdown uk-text-left">
                <p>{{ getPasswordComplexityTooltip() }}
            </div>
        </div>

        <div class="password-strength uk-margin-small-top uk-display-inline-block"
             [ngClass]="currentPasswordStrengthValue">
            <div class="uk-display-inline-block first-step"></div>
            <div class="uk-display-inline-block second-step"></div>
            <div class="uk-display-inline-block third-step"></div>
            <div class="uk-display-inline-block fourth-step"></div>
            <div class="uk-display-inline-block fifth-step"></div>
        </div>
        <div class="password-strength-label">
            <div>{{ getPasswordComplexityAsLabel() }}</div>
        </div>
    </div>
</div>
<div class="ngdialog-buttons">
    <div class="uk-float-right">
        <button type="button" class="uk-button uk-button-large"
                [disabled]="!isOK()"
                (click)="changePassword()">{{ 'COMMON_SUBMIT' | translate | async}}
        </button>
    </div>
</div>
<div class="ngdialog-close" (click)="close();"></div>