<div class="d-flex h-100 slab-login">
    <div class="slab-login__background slab-login__background--configuration" [style.background-image]="'url(' + background + ')'"></div>
    <div class="slab-login__content d-flex flex-column">
        <div class="d-flex slab-header align-content-center">
            <img class="slab-header__logo mr-4" src="{{applicationLogo}}">
            <div>
                <div class="slab-text">{{applicationName}}</div>
                <div class="slab-text slab-text--large">{{moduleName}}</div>
                <div class="slab-text slab-text--small slab-text--muted">{{version}}</div>
            </div>
        </div>
        <div class="d-flex slab-form align-content-center flex-wrap mt-4">
            <div class="mb-4 slab-text slab-text--large slab-text--muted">Inicio de sesión</div>
            <form>
                <input class="w-100 slab-form__input slab-form__input--topradius" [(ngModel)]="userName" placeholder="Nombre de usuario" name="login" type="text" required autocomplete="off">
                <input class="w-100 slab-form__input slab-form__input--bottomradius" [(ngModel)]="password" placeholder="Contraseña" name="pwd" type="password" required autocomplete="off">
                <button class="w-100 btn slab-form__submit mt-5" (click)="doLogin()">ENTRA</button>
            </form>
        </div>
        <div class="d-flex slab-footer flex-column">
            <img width="132" src="{{ companyLogo }}" class="mt-4 align-self-center">
            <div class="slab-text slab-text--small align-self-center mt-4 ">{{copyright}}</div>
            <div class="mt-4 align-self-center">
                <a class="slab-text slab-text--link slab-text--small mr-2 " href="">Términos de uso</a> · <a class="ml-2 slab-text slab-text--link slab-text--small" href="">Privacidad</a>
            </div>
        </div>
    </div>
</div>